/* css sale */
.container .head {
  margin: auto;
  padding: 30px 0 10px;
  text-align: center;
  font-size: 20px;
  color: greenyellow;
}
.container .head > select {
  padding: 7px 40px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(240, 248, 255, 0.3);
}

.container table,
.container tr,
.container th {
  margin: 20px auto;
  border: 1px solid black;
  background-color: rgb(240, 248, 255, 0.3);
}
.container table {
  font-size: 20px;
  width: calc(100% - 500px);
  height: 50vh;
}
.container table input {
  font-size: 20px;
}

/* css register */
.container .register {
  padding: 0 30px;
  background-color: rgb(128, 128, 128, 0.9);
}
.register h1 {
  padding: 20px 0 10px;
  font-size: 30px;
  color: rgb(217, 255, 0);
}
.register h2 {
  margin: 10px 2px 5px;
  font-size: 15px;
}
.register p {
  text-align: center;
  font-size: 13px;
  margin-right: 6px;
}
.register .input-box {
  width: 340px;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
}
.register .Note-box-style > textarea {
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid black;
  width: 340px;
  height: 70px;
  overflow-y: scroll;
  font-family: "Lato", sans-serif;
  font-family: "Tinos", serif;
}
.register .container-check {
  width: 340px;
  height: 40px;
  border-radius: 5px;
  padding: 1px 2px;
  border: 1px solid black;
  background-color: #ffffff;
}
.register .Note-box-style > p {
  margin: 0;
  padding-left: 270px;
}
.register .container-select {
  padding: 1px 2px;
  border: 1px solid black;
  width: 345px;
  height: 40px;
  border-radius: 5px;
}
.register button {
  display: block;
  margin: 20px 70px;
  width: 200px;
  height: 40px;
  border-radius: 999px;
  border: none;
  background-color: #484848;
  background-image: linear-gradient(
    90deg,
    #484848 0%,
    #bebebe 50%,
    #484848 100%
  );
}
.register button:hover {
  opacity: 0.5;
}
.register .container-check {
  display: flex;
}
